# MYSQL
MYSQL_ENGINE=
MYSQL_VERSION=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=whaticket
MYSQL_PORT=
TZ=

# BACKEND
BACKEND_PORT=
BACKEND_SERVER_NAME=api.mydomain.com
BACKEND_URL=https://api.mydomain.com
PROXY_PORT=443
JWT_SECRET=
JWT_REFRESH_SECRET=
ENCRYPTION_KEY=
CORS_ORIGINS=http://localhost:6001
DEFAULT_ADMIN_PASSWORD=
WHATSAPP_START_CONCURRENCY=8
WHATSAPP_START_BATCH_DELAY_MS=250

# FRONTEND
FRONTEND_PORT=80
FRONTEND_SSL_PORT=443
FRONTEND_SERVER_NAME=myapp.mydomain.com
FRONTEND_URL=https://myapp.mydomain.com

# BROWSERLESS
MAX_CONCURRENT_SESSIONS=

# PHPMYADMIN
PMA_PORT=